body {
  margin: 0;
}

.movebox h1{
  text-align: center;
}
/* Sets player box to absolute with a background image */
.box{
  width: 150px;
  height: 150px;
  background-color: blue;
  background-image: url('/public/troll.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
}
/* makes same box to chase the player */
.evilBox{
  width: 150px;
  height: 150px;
  background-color: blue;
  background-image: url('/public/evilTrol.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
}