body {
  margin: 0;
}

.movebox h1{
  text-align: center;
}
.box{
  width: 200px;
  height: 200px;
  background-color: blue;
  background-image: url('/public/troll.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
}